# Python
__pycache__/
*.py[cod]
*.class
.env
.env.test
venv/
.venv/
token.pickle
credentials.json

# Poetry
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
*.swp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db